name: Demo

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build Demo
    runs-on: fedora-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo dnf install -y trunk rustup
      - run: rustup target add wasm32-unknown-unknown
      - run: trunk build --public-url 'https://tau.garden/egui-theme-switch'
        working-directory: demo
      - uses: https://codeberg.org/tautropfli/websites/upload-package@main
        if: format('refs/heads/{0}', forgejo.event.repository.default_branch) == forgejo.ref
        with:
          domain_name: tau.garden
          subpath: egui-theme-switch
          package_push_token: ${{secrets.PACKAGE_PUSH_TOKEN}}
          directory: demo/dist
      - uses: https://codeberg.org/tautropfli/websites/deploy@main
        if: format('refs/heads/{0}', forgejo.event.repository.default_branch) == forgejo.ref
        with:
          dispatch_token: ${{secrets.DISPATCH_TOKEN}}
